@page
@model ReferralManagement.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="overview">
    <div class="title">
        <h2 class="section--title">MedEx Referral Dashboard</h2>
    </div>
    <div class="card card-1">
        <div class="card--data">
            <div class="card--content">
                <p>
                    MedEx RMS is a cutting-edge healthcare referral management system designed to streamline the process of patient
                    referrals in healthcare institutions. With MedEx RMS, healthcare providers can efficiently manage and track patient
                    referrals, ensuring a seamless experience for both healthcare professionals and patients.
                    <br /><br />
                    Our application offers a comprehensive set of features to support the referral process. It allows healthcare
                    providers to register new patients, manage their information, and generate referral requests for various medical
                    specialties.
                    <br /><br />
                    MedEx RMS provides a user-friendly dashboard that offers an overview of the referral status, allowing healthcare
                    providers to stay organized and prioritize their workload effectively. Our application simplifies the referral
                    process, reducing administrative burden and enabling healthcare professionals to focus on providing quality care to
                    their patients.
                </p>
            </div>
    </div>
</div>










