@page
@model ReferralManagement.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="overview">
    <div class="title">
        <h2 class="section--title">Welcome to MedEx Referral Dashboard</h2>
    </div>
    <div>
        MedEx Referral Management Dashboard is a comprehensive platform designed to streamline the management of healthcare facilities. With our intuitive and user-friendly interface, managing your medical practice has never been easier.
    </div>
    <div class="title">
        <h2 class="section--title">Key Features</h2>
    </div>
    <div>
        <ul class="feature-list">
            <li class="feature-item"><strong>Doctor Overview:</strong> Keep track of all your doctors, their schedules, and availability.</li>
            <li class="feature-item"><strong>Patient Management:</strong> Monitor patient registrations, health status, and appointments.</li>
            <li class="feature-item"><strong>Real-Time Scheduling:</strong> Schedule appointments and view them in a centralized calendar.</li>
            <li class="feature-item"><strong>Statistics:</strong> Gain insights with our comprehensive statistical reports on doctors' performance, patient demographics, and more.</li>
            <li class="feature-item"><strong>Support:</strong> Reach out to our support team for any queries or assistance.</li>
        </ul>
    </div>
</div>










