@page "/ReferralForm/Form/{id:int}"
@model ReferralManagement.Pages.ReferralFormModel
@{
    
}
<div class="overview">
    <div class="title">
        <h2 class="section--title">Referral Form - @Model.DynamicReferral.ReferralName</h2>
    </div>
    <div class="title">
        <a href="/ReferralForm/Edit/@Model.DynamicReferral.DynamicReferralId" class="button">Edit Form</a>
    </div>

    <div class="form-edit">
        <div id="surveyContainer"></div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        var surveyJson = @Html.Raw(Model.DynamicReferral.ReferralJson);


        const survey = new Survey.Model(surveyJson);
        survey.focusFirstQuestionAutomatic = false;

        //const npsQuestion = survey.getQuestionByName("first-name");

        function alertResults(sender) {
           const results = JSON.stringify(sender.data);
           alert(results);
        }

        survey.onComplete.add(alertResults);

        $(function () {
           $("#surveyContainer").Survey({ model: survey });
        });

        //survey = npsQuestion.value = "Aaron";

    </script>

}

